[Desktop Entry]
Type=Application
Name=Guake Terminal
Comment=Drop-down terminal autostart
Exec=guake
Terminal=false
Icon=guake
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
X-GNOME-Autostart-enabled=true
NoDisplay=false
